@import url('https://fonts.googleapis.com/css?family=Orbitron');

.logoIcon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    background: linear-gradient(45deg, rgb(92, 66, 238) 10%, rgb(143, 39, 228) 90%) !important;
}

.title {
    padding-left: 20px;

    color: #3F3A34 !important;
    font-size: 30px !important;
    font-family: 'Orbitron', sans-serif !important;
    font-weight: 500 !important;
}