html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #424242;
}

.placeholder {
    width: 100%;
}

.appContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
}

.appContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}